{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>TakeFive - Venue Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="{% static 'venue/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'venue/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'venue/js/jquery.timepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'venue/css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'venue/css/jquery.timepicker.css' %}">
    <script type="text/javascript">
        $(document).ready(function(){
              $("#id_datestart").change('input', function(){
                var startdate = $("#id_datestart").val();
                  $("#id_dateend").val(startdate);
              });

              $("#id_timestart").change('input', function(){
                var starttime = $("#id_timestart").val();
                  $("#id_timeend").val(starttime);
              });
        });
    </script>
    <link rel="stylesheet" href="{% static 'venue/css/style.css' %}">
</head>
<body>
<div id="header">
<a href="/venues"><h5>Home</h5></a>

{% if user.username %}
<div id="header-details">{{user.profile.company.name}} - {{user.first_name}} {{user.last_name}} | <a href="/logout">Logout</a></div>
{% endif %}

<div class="clear"></div>
</div>

<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>