{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="subheader">
    <h1 style="float: right">your venues</h1>
    <div class="actions">
        <a href="{{user.profile.company.reference}}/newvenue/">New venue</a>    
    </div>
    <div class="clear"></div>
</div>
<section>
{% if user.is_authenticated %}
    <div class="venues">
    
        {% for venue in venues %}
        <a href="{{company.reference}}/{{venue.reference}}">
            <div class="venue">
                <img src="{% static 'venue/img/venueplaceholder.jpg' %}" alt="">
                <div class="caption">{{venue.name}}</div>
            </div>
        </a>
        {% endfor %}
    
    </div>
{% else %}
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
{% endif %}
</section>

{% endblock %}