{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Welcome to the venue administration site</h1>
<section>
{% if user.is_authenticated %}

    <p>Hello {{user.username}} of {{user.profile.company.name}}</p>
    

    {% for venue in venues %}
    <a href="{{company.reference}}/{{venue.reference}}">{{venue.name}}</a><br>
    {% endfor %}


    <br><br><br>
    <a href="{{user.profile.company.reference}}/newvenue">New venue</a><br>
    <a href="/logout">Logout</a>
{% else %}
    <a href="signup">Sign Up</a>
    <a href="/login">Login</a>
{% endif %}
</section>

{% endblock %}