{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}
<h3><a href="/venues/{{company.reference}}/{{venue.reference}} ">{{venue.name| lower}}</a> - members</h3>
<section>
<h5>Types of Member</h5>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Length</th>
        <th>Link</th>
        <th>Members</th>
    </tr>
    {% for membershiptype in membershiptypes %}
    <tr>
        <td><a href="editmembership/{{membershiptype.pk}}">{{membershiptype.name}}</a></td>
        <td class="center">{{membershiptype.price}}</td>
        <td class="center">{{membershiptype.length}}</td>
        <td class="center"><a target="_blank" href="/venues/join/{{membershiptype.pk}}"><i class="fa fa-external-link"></i></a></td>
        <td></td>
    </tr>
    {% endfor %}
</table>
<a href="/venues/{{company}}/{{venue}}/members/newtype/">New Membership Type</a>
</section>

<section>
<h5>Members</h5>

<p>Total Members: {{members|length}}</p>
<br><br>
<table>
    <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Appearances</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{member.member.firstname}} {{member.member.lastname}}</td>
        <td>{{member.member.email}}</td>
        <td class="center">{{member.member.appearances}}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/venues/exportcsv/{{guestlist.pk}}">Export Members List</a> | <a href="importmembers">Import Members</a>
</section>
{% endblock %}