{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}
<h3><a href="/venues/{{user.profile.company.reference}}/{{venue.reference}}">{{venue.name}}</a> - New Event</h3>
<section id="formselector">
    <div id="oneoff">
        <div class="cancel" style="display:none">X</div>
        <h2>One-off event</h2>
        <div class="form" style="display:none;">
            <form action="/venues/{{user.profile.company.reference}}/{{venue.reference}}/event/newoneoff/" method="post">
              {% csrf_token %}
              <table class="formtable">
                  <tr>
                      <th>Label</th>
                      <th>Input</th>
                  </tr>
                  <tr>
                      <td><label for="">{{ oneoffform.name.label_tag }}</label></td>
                      <td>{{ oneoffform.name }}</td>
                  </tr>
                  <tr>
                      <td><label>Wite a bit about your event so people know what's going on.</label></td>
                      <td>{{ oneoffform.description }}</td>
                  </tr>
                  <tr>
                      <td><label>What time does your event start?</label></td>
                      <td>{{oneoffform.datestart}}   {{oneoffform.timestart}}</td>
                  </tr>
                  <tr>
                      <td><label>What time does your event end?</label></td>
                      <td>{{oneoffform.dateend}}{{oneoffform.timeend}}</td>
                  </tr>
                  <tr>
                      <td><label>Create default guestlist?</label></td>
                      <td>{{oneoffform.createguestlist}}</td>
                  </tr>
              </table>
              <input type="submit" value="Submit">
                
            </form>
        </div>
    </div><!-- this comment fixes whitespace issue
    --><div id="recurring">
        <div class="cancel" style="display:none">X</div>
        <h2>Recurring event</h2>
        <div class="form" style="display:none">
            <form action="/venues/{{user.profile.company.reference}}/{{venue.reference}}/event/newrecurring/" method="post">
              {% csrf_token %}
              <table class="formtable">
                  <tr>
                      <th>Label</th>
                      <th>Input</th>
                  </tr>
                  <tr>
                      <td><label for="">{{ recurringform.name.label_tag }}</label></td>
                      <td>{{ recurringform.name }}</td>
                  </tr>
                  <tr>
                      <td><label>Wite a bit about your event so people know what's going on.</label></td>
                      <td>{{ recurringform.description }}</td>
                  </tr>
                  <tr>
                      <td><label>When is your first event?</label></td>
                      <td>{{recurringform.firstevent}}   </td>
                  </tr>
                  <tr>
                      <td><label>And the last?</label></td>
                      <td>{{recurringform.lastevent}}</td>
                  </tr>
                  <tr>
                      <td><label>When will your events start and end?</label></td>
                      <td>{{recurringform.timeend}}{{recurringform.timestart}}</td>
                  </tr>
                  <tr>
                      <td><label>Which days does this event occur on?</label></td>
                      <td>
                        <table>
                          <tr>
                              <td>{{recurringform.monday.label_tag}}</td>
                              <td>{{recurringform.tuesday.label_tag}}</td>
                              <td>{{recurringform.wednesday.label_tag}}</td>
                              <td>{{recurringform.thursday.label_tag}}</td>
                              <td>{{recurringform.friday.label_tag}}</td>
                              <td>{{recurringform.saturday.label_tag}}</td>
                              <td>{{recurringform.sunday.label_tag}}</td>
                          </tr>
                          <tr>
                              <td>{{recurringform.monday}} </td>
                              <td>{{recurringform.tuesday}}</td>
                              <td>{{recurringform.wednesday}}</td>
                              <td>{{recurringform.thursday}}</td>
                              <td>{{recurringform.friday}}</td>
                              <td>{{recurringform.saturday}}</td>
                              <td>{{recurringform.sunday}} </td>
                          </tr>
                        </table>

                        
                      </td>
                  </tr>
              </table>
              <input type="submit" value="Submit">
                
            </form>
        </div>
    </div>

<div class="clear"></div>
</section>


<script>
  $( function() {
    $( ".datepicker" ).datepicker({
        dateFormat: "dd/mm/yy"
    });
    $(".timepicker").timepicker({
        'timeFormat': 'H:i'
    });

    $('#oneoff h2').on('click', function() {
        var current = $(this).parent();
        $('#recurring').hide();
        $(current).css('width', '100%');
        $('#oneoff .form').show();
        $(current).children('.cancel').css('display', 'block');
    });

    $('#recurring h2').on('click', function() {
        var current = $(this).parent();
        $('#oneoff').hide();
        $(current).css('width', '100%');
        $('#recurring .form').show();
        $(current).children('.cancel').css('display', 'block');
    });

    $('.cancel').on('click', function() {
        console.log("click");
        $(this).css('display', 'none');
        $('.form').hide();
        $(this).parent().css('width', '50%');
        $('#recurring, #oneoff').delay(208).show(0);
    });

  } );

</script>
{% endblock %}