{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}
<h3><a href="/venues/{{user.profile.company.reference}}/{{venue.reference}}">{{venue.name}}</a> - New Event</h3>
<section id="formselector">
    <div id="oneoff">
        <div class="cancel" style="display:none">X</div>
        <h2>One-off event</h2>
        <div class="form" style="display:none;">
            <form action="/venues/{{user.profile.company.reference}}/{{venue.reference}}/newoneoffevent/" method="post">
              {% csrf_token %}
              <table class="formtable">
                  <tr>
                      <th>Label</th>
                      <th>Input</th>
                  </tr>
                  <tr>
                      <td>{{ oneoffform.name.label_tag }}</td>
                      <td>{{ oneoffform.name }}</td>
                  </tr>
                  <tr>
                      <td>Wite a bit about your event so people know what's going on.</td>
                      <td>{{ oneoffform.description }}</td>
                  </tr>
                  <tr>
                      <td>What time does your event start?</td>
                      <td>{{oneoffform.datestart}}{{oneoffform.timestart}}</td>
                  </tr>
                  <tr>
                      <td>What time does your event end?</td>
                      <td>{{oneoffform.dateend}}{{oneoffform.timeend}}</td>
                  </tr>
                  <tr>
                      <td>Create default guestlist?</td>
                      <td>{{oneoffform.createguestlist}}</td>
                  </tr>
              </table>
              <input type="submit" value="Submit">
                
            </form>
        </div>
    </div><!-- this comment fixes whitespace issue
    --><div id="recurring">
        <div class="cancel" style="display:none">X</div>
        <h2>Recurring event</h2>
        <div class="form" style="display:none;">
            <form action="/venues/{{user.profile.company.reference}}/{{venue.reference}}/newevent" method="post">
              {% csrf_token %}
              {{ recurringform }}
              <input type="submit" value="Submit">
                
            </form>
        </div>
    </div>

<div class="clear"></div>
</section>


<script>
  $( function() {
    $( ".datepicker" ).datepicker({
        dateFormat: "dd/mm/yy"
    });
    $(".timepicker").timepicker({
        'timeFormat': 'H:i'
    });

    $('#oneoff h2').on('click', function() {
        var current = $(this).parent();
        $('#recurring').hide();
        $(current).css('width', '100%');
        $('#oneoff .form').show();
        $(current).children('.cancel').css('display', 'block');
    });

    $('#recurring h2').on('click', function() {
        var current = $(this).parent();
        $('#oneoff').hide();
        $(current).css('width', '100%');
        $(current).css('cursor', 'default');
        $('#recurring .form').show();
        $(current).children('.cancel').css('display', 'block');
    });

    $('.cancel').on('click', function() {
        console.log("click");
        $(this).css('display', 'none');
        $('.form').hide();
        $(this).parent().css('width', '50%');
        $('#recurring, #oneoff').delay(208).show(0);
    });

  } );

</script>
{% endblock %}