{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}

<h2>New Event</h2>

<section>
{% if form %}
<form action="/venues/{{company.reference}}/{{venue.reference}}/event/newrecurring/" method="post">
{% csrf_token %}
{{form}}
<input type="submit" value="Submit">
</form>
{% endif %}
{% if error %}
<h2>Sorry, something went wrong...</h2>
<h3>{{error}}</h3>
<a href="/venues/{{company.reference}}/{{venue.reference}}/event/new/">Go back to the event form</a>
{% else %}
<h2>Thanks, your new event has been created</h2>
{% endif %}
</section>

{% endblock %}