{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}
<h3><a href="/venues/{{user.profile.company.reference}}/{{venue.reference}}">{{venue.name}}</a> - Venue Layouts</h3>

{% if venuelayoutdict %}
<a href="/venues/{{user.profile.company.reference}}/{{venue.reference}}/layout/create/">Create layout</a><br><br>

    {% for layoutkey, layoutvalue in venuelayoutdict.items %}
<section data-venuelayout="{{layoutvalue.0.pk}}" class="layout-{{layoutvalue.0.pk}}">
    <div class="delete">delete layout</div>
    <h5>{{layoutvalue.0.name}}</h5>

    <table>
        <tr>
            <th>Area Name</th>
            <th>Capacity</th>
            <th>Notes</th>
            <th>Price</th>
        </tr>
        {% for layoutarea in layoutvalue.1 %}
        <tr>
            <td>{{layoutarea.name}}</td>
            <td>{{layoutarea.capacity}}</td>
            <td>{{layoutarea.notes}}</td>
            <td>£{{layoutarea.price}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/venues/{{company}}/{{venue}}/layout/createarea/{{layoutvalue.0.pk}}">New Layout Area</a>
</section>

    {% endfor %}


{% else %}

<p>There are currently no layouts for this venue</p>

{% endif %}

<div id="confirmation" style="display:none">
    <div class="messagebox">
        <div class="cancel">x</div>
        <p>Are you sure you'd like to <span class="action"></span>?</p>

        <button class="yes" data-action="" data-value="">Yes</button><button class="no">No</button>
    </div>
</div>
<script>
jQuery(document).ready(function() {
    jQuery(function( $ ) {

        $('#confirmation .cancel, #confirmation .no').on("click", function(){
            $('#confirmation').hide();
        })

        
        $(".delete").on("click", function () {

            var current = $(this).parent();
            var venuelayout = current.attr("data-venuelayout");

            $('#confirmation .action').text('delete this layout')
            $('#confirmation').show();
            $('#confirmation .yes').attr('data-action', 'delete');
            $('#confirmation .yes').attr('data-value', venuelayout);
        });

        $('.yes').on('click', function(){
            var current = $(this)

            if (current.attr('data-action') == 'delete'){
                $.ajax({
                    url: '/venues/ajax/deletelayout/',
                    data: {
                      'venuelayout': current.attr('data-value')
                    },
                    dataType: 'json',
                    success: function (data) {
                      if (data.success == 'success') {
                          $('.layout-' + current.attr('data-value')).fadeOut('slow');
                          $('#confirmation').hide();
                      } else {
                          alert("Error!");
                      }
                    }
                });

            } else {
                alert('woops');
            }

            
            
        })
    });
});
</script>

{% endblock %}