{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}
<h3>{{venue.name}}</h3>
<a href="/venues/{{user.profile.company.reference}}/{{venue.reference}}/event/new/">Create Event</a> | <a href="/venues/{{user.profile.company.reference}}/{{venue.reference}}/layout">Venue Layout</a> | <a href="/venues/{{user.profile.company.reference}}/{{venue.reference}}/members">Members</a><br><br>

<section>
    <h4>Metrics</h4>

    <table class="metrics">
        <tr>
            <th>Guests Attended This Year</th>
            <th>Guest Attendance Rate</th>
        </tr>
        <tr>
            <td>{{arrived}}</td>
            <td>{{attendance|floatformat}}%</td>
        </tr>
    </table>
    <table class="metrics">
        <tr>
            <th>Members</th>
            <th>Member visits</th>
        </tr>
        <tr>
            <td>{{membercount}}</td>
        </tr>
    </table>
</section>


<section id="upcomingevents">
{% if futureevents %}
<h4>Upcoming Events:</h4>

<table class="events">
    <tr>
        <th>Start</th>
        <th>Event Name</th>
    </tr>
    {% for event in futureevents %}
    <tr>
        <td>{{event.datestart| date:'d/m/Y'}} - {{event.timestart|date:'g:iA'|lower}}</td>
        <td><a href="/venues/{{company.reference}}/{{venue.reference}}/event/{{event.pk}}">{{event.name}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
No upcoming events

{% endif %}

</section>


<section id="recurringevents">
{% if recurringevents %}

<h4>Recurring Events:</h4>
    <table class="events">
        <tr>
            <th>Start Date</th>
            <th>Event Name</th>
            <th>Next Event</th>
        </tr>
        {% for event in recurringevents %}
        <tr>
            <td>{{event.firstevent| date:'d/m/Y'}}</td>
            <td><a href="/venues/{{company.reference}}/{{venue.reference}}/event/recurring/{{event.pk}}">{{event.name}}</a></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
{% else %}

No upcoming recurring events

{% endif %}
</section>

<section id="pastevents">
{% if pastevents %}
<h4>Past Events:</h4>

<table class="events">
    <tr>
        <th>Date</th>
        <th>Event Name</th>
    </tr>
    {% for event in pastevents %}
    <tr>
        <td>{{event.datestart| date:'d/m/Y'}}</td>
        <td><a href="/venues/{{company.reference}}/{{venue.reference}}/event/{{event.pk}}">{{event.name}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}

No past events

{% endif %}
</section>


{% endblock %}