{% extends "venue/base.html" %}
{% load staticfiles %}

{% block content %}

<h4>Event: {{event.name}} </h4>
<h5>Guestlist: {{guestlist.name}}</h5>

<p>Total Guests: {{guestcount}}</p>

<table>
    <tr>
        <th>Event Name</th>
        <th>Email Address</th>
        <th>Plus Ones</th>
    </tr>
    {% for guest in guests %}
    <tr>
        <td>{{guest}}</td>
        <td>{{guest.email}}</td>
        <td>{{guest.plusones}}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/venues/exportcsv/{{guestlist.pk}}">Export Guest List</a>
<a href="/gl/{{guestlist.pk}}">Join Guest List Link</a>

{% endblock %}