{% extends "venue/base.html" %}
{% load staticfiles %}
{% load guest_tools %}

{% block content %}

<a href="/venues/{{company.reference}}/{{venue.reference}}"><h3>{{venue.name}}</h3></a>
<section data-event="{{event.pk}}">
<div class="delete">cancel event</div>
<h4>{{event.name}}</h4>
<p>{{event.datestart}} at {{event.timestart|date:'g:iA'|lower}} until {{event.dateend}} at {{event.timeend|date:'g:iA'|lower}}</p><br>
<p class="description">{{event.description}}</p>
</section>
<section>
Guestlists:
<table>
    <tr>
        <th>Guest List Name</th>
        <th class="center">Guests</th>
        <th>Join Link</th>
        <th class="center">Open?</th>
    </tr>
    {% for guestlist in guestlists %}
    <tr>
        <td>
            <a href="/venues/{{company.reference}}/{{venue.reference}}/guestlist/{{guestlist.pk}}">{{guestlist.name}}</a>
        </td>
        <td class="center">
            {{ guestlist|countguests }}
        </td>
        <td class="center"><a target="_blank" href="/gl/{{guestlist.pk}}" title="Open guestlist in new tab"><i class="fa fa-external-link"></i></a></td>
        <td class="center listopen" data-guestlist="{{guestlist.pk}}">
        {% if guestlist.listopen == True %}
            <div class="green listopen-dot">&#9679;</div>
        {% else %}
            <div class="red listopen-dot">&#9679;</div>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<a href="/venues/newguestlist/{{event.pk}}">New Guest List</a>
</section>

<!-- confirmation dialog -->
<div id="confirmation" style="display:none">
    <div class="messagebox">
        <div class="cancel">x</div>
        <p>Are you sure you'd like to <span class="action"></span>?</p>

        <button class="yes" data-action="" data-value="">Yes</button><button class="no">No</button>
    </div>
</div>
<script>
    jQuery(document).ready(function() {
        jQuery(function( $ ) {
        
            $(".listopen").on("click", function () {
              var current = $(this)
              current.children().toggleClass('red');

              var guestlist = current.attr("data-guestlist");
              
              $.ajax({
                      url: '/venues/ajax/toggleguestlistopen/',
                      data: {
                        'guestlist': guestlist
                      },
                      dataType: 'json',
                      success: function () {
                        current.children().toggleClass('green');
                      }
                    });
            });

            $(".paid").on("click", function () {
              $(this).children().toggleClass('red');
              $(this).children().toggleClass('green');
            });

            $('#confirmation .cancel, #confirmation .no').on("click", function(){
                $('#confirmation').hide();
            });

            $('#confirmation .yes').on("click", function(){
              var current = $(this);
                if (current.attr('data-action') == "eventdelete") {
                  eventdelete(current.attr('data-value'));
                  $('#confirmation').hide();
                }
            });

            $(".delete").on("click", function () {

                var current = $(this).parent();
                var event = current.attr("data-event")

                $('#confirmation .action').text('cancel this event')
                $('#confirmation').show();
                $('#confirmation .yes').attr('data-action', 'eventdelete');
                $('#confirmation .yes').attr('data-value', event);
            });
    });
    });

function eventdelete(event) {
  $.ajax({
          url: '/venues/ajax/eventdelete/',
          data: {
            'event': event
          },
          dataType: 'json',
          success: function () {
            window.location.href = "/venues/{{company.reference}}/{{venue.reference}}/";
          }
  });
};
</script>
{% endblock %}